.lives-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 170px;
}


@keyframes pulse-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.4);
    opacity: 0.4;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.heart-icon {
  width: 45px;
  height: 40px;
  object-fit: contain;
  transition: transform 0.3s, opacity 0.3s;
}

.heart-lost {
  animation: pulse-out 0.4s ease;
}