.exit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.exit-popup {
  background-color: #f5f4f4;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  max-width: 90%;
}

.exit-popup h1{
  font-size: 28px;
  color: #6B6666;
  margin-bottom: 10px;
}

.exit-popup p {
  font-size: 18px;
  color: #534F4F;
}

.confirm-button {
  background-color: #6B6666;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #f5f5f5;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancel-button {
  border: 2px solid #6B6666;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #6B6666;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}