@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.home-page {
  background-color: #f5f4f4;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-top: 100px;
  text-align: center;
}

.logo {
  width: 340px;
  height: auto;
}

.game-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

h2 {
  align-self: flex-start;
  margin-left: 0px;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 20px;
  color: #534F4F;
}

select {
  border-radius: 8px;
  border: 2px solid #534F4F;
  background-color: #f5f5f5;
  font-size: 16px;
  padding: 15px 40px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin-bottom: 0px;
}

.start-button {
  margin-top: 15px;
  background-color: #6B6666;
  color: white;
  border: 2px solid #3F3C3C;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  width: 100%;
  text-align: center;
}

.start-button:hover {
  background-color: #575353;
}
